<div class="wrap_comment_author">
    <h3>Отзывы</h3>
    <div class="block">
        <div class="comment_author">

            <div class="user">

                <p class="author_article">Василий Пупкин </p>
            </div>
            <p>Туманная ситуация относительно будущего мобильной операционной системы WebOS, находящейся в ведении Hewlett-Packard, способствует обрастанию слухами: вполне авторитетные агенства пророчили продажу WebOS либо её лицензирование ряду компаний, начиная от южно-корейской Samsung и заканчивая Facebook и HTC. </p>

        </div>
        <div class="wrap_rating">
            <div class="rating">
                <a href="#"class="minus"></a>
                <a class="num" href="#">135</a>
                <a href="#" class="plus"></a>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="comment_author">

            <div class="user">
                <img  src="images/user2.png"/>
                <p class="author_article">Василиса Премудрая</p>
            </div>
            <p>Вчера глава Samsung опроверг слухи относительно планов покупки WebOS для своей компании, резонно заметив, что операционных систем у них хватает — Android, Windows Phone 7 и собственная платформа Bada.  </p>

        </div>
        <div class="wrap_rating">
            <div class="rating">
                <a href="#"class="minus"></a>
                <a class="num" href="#">135</a>
                <a href="#" class="plus"></a>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="comment_author">

            <div class="user">

                <p class="author_article">Василий Пупкин</p>
            </div>
            <p>Сегодня возникла новая инсинуация. Сайт Precental.net опубликовал пост о том, что в их распоряжении оказалось внутренние документы Hewlett-Packard из которых следует, что подразделение WebOS планируется разделить на два — «софтверное», которое станет частью отдела Стратегии. </p>

        </div>
        <div class="wrap_rating">
            <div class="rating">
                <a href="#"class="minus"></a>

                <a class="num active" href="#">-48</a>
                <a href="#" class="plus"></a>
            </div>
        </div>
        <div class="subcomment">
            <div class="subblock">
                <div class="wrap_comment_author">

                    <div class="block">
                        <div class="comment_author">

                            <div class="user">

                                <p class="author_article">Василий Пупкин </p>
                            </div>
                            <p>Туманная ситуация относительно будущего мобильной операционной системы WebOS, находящейся в ведении Hewlett-Packard, способствует обрастанию слухами: вполне авторитетные агенства пророчили продажу WebOS либо её лицензирование ряду компаний, начиная от южно-корейской Samsung и заканчивая Facebook и HTC. </p>

                        </div>
                        <div class="wrap_rating">
                            <div class="rating">
                                <a href="#"class="minus"></a>
                                <a class="num" href="#">135</a>
                                <a href="#" class="plus"></a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="comment_author">

                            <div class="user">
                                <img  src="images/user2.png"/>
                                <p class="author_article">Василиса Премудрая</p>
                            </div>
                            <p>Вчера глава Samsung опроверг слухи относительно планов покупки WebOS для своей компании, резонно заметив, что операционных систем у них хватает — Android, Windows Phone 7 и собственная платформа Bada.  </p>

                        </div>
                        <div class="wrap_rating">
                            <div class="rating">
                                <a href="#"class="minus"></a>
                                <a class="num" href="#">135</a>
                                <a href="#" class="plus"></a>
                            </div>
                        </div>

                    </div>
                    <div class="clearer"></div>
                </div>
            </div>

        </div>
    </div>
</div>





<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'symfonyby'; // required: replace example with your forum shortname
    var disqus_identifier = '{{blog.id}}';
    var disqus_url = 'http://symfony.by/';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
