<div class="last_comment">
    <h3>Последние комментарии</h3>
    <ul>
        <li><a class="com_1" href="#">egorinsk fastpars</a></li> 
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_2"  href="#">Интернет</a></li>
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_3"  href="#">Каким почтовым клиентом веб интерфейсом вы пользуетесь?</a></li>
    </ul>
    <ul>
        <li><a class="com_1" href="#">AlexiusGreen</a></li> 
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_2"  href="#">Блог</a></li>
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_3"  href="#">Бесконечная страница результатов поиска</a></li>
    </ul>
    <ul>
        <li><a class="com_1" href="#">z3apa3a</a></li> 
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_2"  href="#">Блог компании Амперка</a></li>
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_3"  href="#">Обратная связь от сервопривода или «забиваем гвозди»</a></li>
    </ul>
    <ul>
        <li><a class="com_1" href="#">almazmusic</a></li> 
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_2"  href="#">Информационная безопасность </a></li>
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_3"  href="#">Вводный видеокурс по информационной безопасности</a></li>
    </ul>
    <ul>
        <li><a class="com_1" href="#">egorinsk fastpars</a></li> 
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_2"  href="#">Интернет</a></li>
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_3"  href="#">Каким почтовым клиентом веб интерфейсом вы пользуетесь?</a></li>
    </ul>
    <ul>
        <li><a class="com_1" href="#">AlexiusGreen</a></li> 
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_2"  href="#">Блог</a></li>
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_3"  href="#">Бесконечная страница результатов поиска</a></li>
    </ul>
    <ul>
        <li><a class="com_1" href="#">z3apa3a</a></li> 
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_2"  href="#">Блог компании Амперка</a></li>
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_3"  href="#">Обратная связь от сервопривода или «забиваем гвозди»</a></li>
    </ul>
    <ul class="last" >
        <li><a class="com_1" href="#">almazmusic</a></li> 
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_2"  href="#">Информационная безопасность </a></li>
        <li><span><img src="images/arrow.jpg" alt="" /></span></li> 
        <li><a class="com_3"  href="#">Вводный видеокурс по информационной безопасности</a></li>
    </ul>

</div>