<div class="last_comment">
    <h2 class="dsq-widget-title">Последние комментарии</h2>
    <div id="recentcomments" class="dsq-widget">
        <script type="text/javascript" src="http://symfonyby.disqus.com/recent_comments_widget.js?num_items=10&hide_avatars=1&avatar_size=24&excerpt_length=100"></script>
    </div>
</div>