{% for blog in blogs %}
<div class="articles">
    <h3>{{blog.name}}</h3>
    <p class="author_article">Автор: {{blog.user.name}} </p>
    <div class="text_article">
        <p class="last">{{blog.text}}</p>
        <a class="read_next" href="#">читать далее</a>
        <div class="clearer"></div>
    </div>
    <ul class="tag">            
        <li><a href="#">информация </a></li>
        <li><a href="#">безопасность </a></li>
        <li><a href="#">компьютеры </a></li>
    </ul>
    <div class="comment">
        <div class="rating">
            <a href="#"class="minus"></a>
            <span>135</span>
            <a href="#" class="plus"></a>
        </div>
        <a href="#">Комментарии (1)</a>
    </div>
</div>
{% endfor %}