<div class="articles">
    <h3>Информационная безопасность</h3>
    <p class="author_article">Автор: Василий Пупкин </p>
    <div class="text_article">
        <p class="last">Доброго всем времени суток!<br />
            Сразу хотелось бы дать две ссылки на материалы, на основе которых составлена эта заметка. Можно ознакомиться непосредственно с источниками и не читать топик, представляющий из себя всего-навсего мой вольный перевод-пересказ основных моментов с небольшим количеством отсебятины.</p>
        <a class="read_next" href="#">читать далее</a>
        <div class="clearer"></div>
    </div>
    <ul class="tag">            
        <li><a href="#">информация </a></li>
        <li><a href="#">безопасность </a></li>
        <li><a href="#">компьютеры </a></li>
    </ul>
    <div class="comment">
        <div class="rating">
            <a href="#"class="minus"></a>
            <span>135</span>
            <a href="#" class="plus"></a>
        </div>
        <a href="#">Комментарии (1)</a>
    </div>
</div>
<div class="articles">
    <h3 >HP оставит бизнес WebOS у себя, разделив его на два подразделения</h3>
    <p class="author_article">Автор: Василий Пупкин </p>
    <div class="text_article">
        <p>Туманная ситуация относительно будущего мобильной операционной системы WebOS, находящейся в ведении Hewlett-Packard, способствует обрастанию слухами: вполне авторитетные агенства пророчили продажу WebOS либо её лицензирование ряду компаний, начиная от южно-корейской Samsung и заканчивая Facebook и HTC. Вчера глава Samsung опроверг слухи относительно планов покупки WebOS для своей компании, резонно заметив, что операционных систем у них хватает — Android, Windows Phone 7 и собственная платформа Bada.</p>
        <p class="last">Сегодня возникла новая инсинуация. Сайт Precental.net опубликовал пост о том, что в их распоряжении оказалось внутренние документы Hewlett-Packard из которых следует, что подразделение WebOS планируется разделить на два — «софтверное», которое станет частью отдела Стратегии и Технологии (Office of Strategy and Technology) и «железное», которое планируется сделать частью Personal Systems Group, занимающее PC-бизнесом Hewlett-Packard. </p>
        <a class="read_next" href="#">читать далее</a>
        <div class="clearer"></div>
    </div>
    <ul class="tag">            

        <li><a href="#">безопасность </a></li>
        <li><a href="#">компьютеры </a></li>
    </ul>
    <div class="comment">
        <div class="rating">
            <a href="#"class="minus"></a>
            <span>135</span>
            <a href="#" class="plus"></a>
        </div>
        <a href="#">Комментарии (1)</a>
    </div>
</div>

<div class="articles">
    <h3 >Оплата счета в барах KillFish</h3>
    <p class="author_article">Автор: Василий Пупкин </p>
    <div class="text_article">
        <p class="last">Мы давно планировали выход в офлайн и вот, свершилось. Теперь счет в барах сети KillFish (Питер) можно оплатить при помощи QIWI Кошелька. Механика очень проста: называете бармену номер вашего мобильного телефона, через мгновение на него приходит USSD запрос с суммой счета. Нажав 1, вы оплачиваете счет: деньги списываются с вашего QIWI Кошелька. </p>
        <a class="read_next" href="#">читать далее</a>
        <div class="clearer"></div>
    </div>
    <ul class="tag">            

        <li><a href="#">компьютеры </a></li>
    </ul>
    <div class="comment">
        <div class="rating">
            <a href="#"class="minus"></a>
            <span>135</span>
            <a href="#" class="plus"></a>
        </div>
        <a href="#">Комментарии (1)</a>
    </div>
</div>
<div class="articles">
    <h3 >HavaScript как язык с утиной типизацией</h3>
    <p class="author_article">Автор: Василий Пупкин </p>
    <div class="text_article">
        <p class="last">JavaScript это мощный язык с динамической типизацией и это позволяет писать код с утиной типизацией. В двух словах утиная типизация позволяет выполнять функцию для обьектов которые обладают нужными нам свойствами (т.к. js функицональный язык то и метод является полноправным свойством). Я уверен что многие используют утиную типизацию, но я думаю данная заметка будет все равно интересна некоторому подмножеству множества аудитории хабра. В этой заметке мы проследим эволюцию функции range из работающей только с числами до функции которая работает с любыми обьектами.  </p>
        <a class="read_next" href="#">читать далее</a>
        <div class="clearer"></div>
    </div>
    <ul class="tag">            
        <li><a href="#">информация </a></li>
        <li><a href="#">безопасность </a></li>

    </ul>
    <div class="comment last">
        <div class="rating">
            <a href="#"class="minus"></a>
            <span>135</span>
            <a href="#" class="plus"></a>
        </div>
        <a href="#">Комментарии (1)</a>
    </div>
</div>
