<div class="cloud">
    <ul>
        <li><a href="#" class="st1">Стив Джобс</a></li>
        <li><a href="#">Указ № 60 </a></li>
        <li><a href="#">Украина</a></li>
        <li><a href="#"  class="st1">Хакеры</a></li>
        <li><a href="#">Электронная</a></li>
        <li><a href="#">Беларусь</a></li>
        <li><a href="#"  class="st1">Юрий Зиссер</a></li>
        <li><a href="#">Яндекс</a></li>
        <li><a href="#"  class="st1">акции</a></li>
        <li><a href="#">антивирус</a></li>
        <li><a href="#"  class="st3">аутсорсинг</a></li>
        <li><a href="#">байнет</a></li>
        <li><a href="#"  class="st3">безопасность</a></li>
        <li><a href="#"  class="st1">блог</a></li>
        <li><a href="#"  class="st1">браузер</a></li>
        <li><a href="#">вакансии</a></li>
        <li><a href="#"  class="st1">встреча</a></li>
        <li><a href="#"  class="st2">день</a></li>
        <li><a href="#" >рождения</a></li>
        <li><a href="#">дизайн</a></li>
        <li><a href="#" class="st1">Стив Джобс</a></li>
        <li><a href="#">Указ № 60 </a></li>
        <li><a href="#">Украина</a></li>
        <li><a href="#"  class="st1">Хакеры</a></li>
        <li><a href="#">Электронная  </a></li>
        <li><a href="#">Беларусь</a></li>
        <li><a href="#"  class="st1">Юрий</a></li>
        <li><a href="#">Яндекс</a></li>


    </ul>
</div>