<div class="block_profile">
    <ul class="way">
        <li><span>Ваши оценки</span></li>
        <li>/</li>
        <li><a href="#">Все Ваши оценки</a></li>
    </ul>
    <div class="bl_prof_1">
        <ul>
            <li><span>21 сентября 2011, 21:00</span></li>
            <li><span>/</span></li>	
            <li><a href="#">Каким почтовым клиентом веб интерфейсом вы пользуетесь? </a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="p">+</span></span></li>
        </ul>
        <ul>
            <li><span>5 августа 2011, 22:10</span></li>
            <li><span>/</span></li>	
            <li><a href="#">Бесконечная страница результатов поиска </a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="m">-</span></span></li>
        </ul>
        <ul>
            <li><span>4 августа 2011, 13:44</span></li>
            <li><span>/</span></li>	
            <li><a href="#">Обратная связь от сервопривода или «забиваем гвозди»</a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="m">-</span></span></li>
        </ul>
        <ul>
            <li><span>3 апреля 2011, 22:10</span></li>
            <li><span>/</span></li>	
            <li><a href="#">Вводный видеокурс по информационной безопасности</a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="p">+</span></span></li>
        </ul>
        <ul>
            <li><span>21 марта 2011, 13:44</span></li>
            <li><span>/</span></li>	
            <li><a href="#"> Каким почтовым клиентом веб интерфейсом вы пользуетесь?</a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="m">-</span></span></li>
        </ul>
        <ul>
            <li><span>14 февраля 2011, 13:44 </span></li>
            <li><span>/</span></li>	
            <li><a href="#"> Каким почтовым клиентом веб интерфейсом вы пользуетесь?</a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="m">-</span></span></li>
        </ul>
        <ul>
            <li><span>5 февраля 2011, 22:10</span></li>
            <li><span>/</span></li>	
            <li><a href="#">Бесконечная страница результатов поиска</a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="m">-</span></span></li>
        </ul>
        <ul>
            <li><span>4 января 2011, 13:44</span></li>
            <li><span>/</span></li>	
            <li><a href="#">Обратная связь от сервопривода или «забиваем гвозди»  </a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="p">+</span></span></li>
        </ul>
        <ul>
            <li><span>21 декабря 2010, 13:44</span></li>
            <li><span>/</span></li>	
            <li><a href="#">Вводный видеокурс по информационной безопасности</a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="p">+</span></span></li>
        </ul>
        <ul class="last">
            <li><span>21 декабря 2010, 22:10</span></li>
            <li><span>/</span></li>	
            <li><a href="#">Каким почтовым клиентом веб интерфейсом вы пользуетесь?</a></li>
            <li><span>/</span></li>	
            <li><span class="star">Ваша оценка <span class="m">-</span></span></li>
        </ul>
    </div>
</div>