{% if blogs|length %}
<div class="block_profile">
    <ul class="way">
        <li><span>
            {% if own %}
                Ваши статьи
            {% else %}
                Статьи
            {% endif %}
        </span></li>
        <li>/</li>
        <li><a href="#">
            {% if own %}
                Все Ваши статьи
            {% else %}
                Все Статьи
            {% endif %}
        </a></li>
    </ul>
    <div class="bl_prof_1">
    {% set  class = ''  %}
    {% for blog in blogs %}
        {% if loop.last %}
          {% set class = 'last' %}
        {% endif %}
        <ul class="{{class}}">
            <li><span>{{blog.createdAt|date('d.m.Y')}}</span></li>
            <li><span>/</span></li>
            <li>
              <a href="{{path('blog_view', {'slug': blog.slug})}}">{{blog.title}}</a>
            </li>
        </ul>
    {% endfor %}
    </div>
</div>
{% endif %}