{% extends '::base.html.twig' %}
{% block title %}Error 403{% endblock %}
{% block body %}
    <h1>403</h1>
    <div id="text">При поддержке <a href = 'http://acobby.com'>Acobby Ltd.</a></div> 
{% endblock %}


{% block menu %}
    {% render "SfbyStaticBundle:Content:menu" with {'active': ''} %}
{% endblock %}    
    