/web/bundles/
/web/uploads/*
/web/cache/*
/web/index_*
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/app/config/config_*
app/mail/*
/nbproject
/tmp
/console
/catalog.xml
