{# src/Acme/HelloBundle/Resources/views/Hello/index.html.twig #}
{% extends '::base.html.twig' %}
{% block title %}Сообщество Symfony программистов в Беларуси{% endblock %}
{% block body %}
<div id="logo"><a href = 'http://acobby.com'><img src="{{ asset('bundles/sfbystatic/images/symfony.gif') }}" border=0>.by</a></div> 
<div id="text">При поддержке <a href = 'http://acobby.com'>Acobby Ltd.</a></div> 
{% endblock %}
