{% extends '::layout.html.twig' %}

{% block title %}Сообщество Symfony программистов в Беларуси{% endblock %}
{% block body %}

<div class="about">
    <h3>Разработано с помощью <a href="http://symfony.com">Symfony</a> - Open Source PHP фреймворк.</h3>
    <p>
       Symfony является PHP фреймворком с открытым кодом для разработки веб-приложений.
       <br />Первоначально Symfony был сконструирован интерактивным агентством Sensio Labs для разработки веб-сайтов для своих клиентов. Symfony был опубликован агентством в 2005 году под лицензией MIT Open Source, и сегодня Symfony является одним из ведущих фреймворков для разработки на PHP.
       <br />Symfony обладает рядом преимуществ: обильная документация, поддержка <a href="http://symfony.com/contributors">сообщества</a> (рассылки, IRC и т.д.), профессиональная поддержка (консультации, обучение и т.д.), и так далее.
    </p>
    <h3>При поддержке <a href = 'http://acobby.com'>Acobby Ltd.</h3>
</div>
{% endblock %}
