<div class="footer">
    <div class="bottom_nav">
        <div class="block"> 
            <h3><a href="#">Блоги</a></h3>
            <ul>
                <li><a href="#"><span>Люди</span></a></li>
                <li><a href="#"><span>Форум</span></a></li>
                <li><a href="#"><span>О сайте</span></a></li>
                <li><a href="#"><span>Помощь</span></a></li>
            </ul>
        </div>
        <div class="block"> 
            <h3><a href="#">Люди</a></h3>
            <ul>
                <li><a href="#"><span>Форум</span></a></li>
                <li><a href="#"><span>Блоги</span></a></li>
                <li><a href="#"><span>Помощь</span></a></li>
                <li><a href="#"><span>О сайте</span></a></li>
            </ul>
        </div>
        <div class="block"> 
            <h3><a href="#">Форум</a></h3>
            <ul>
                <li><a href="#"><span>О сайте</span></a></li>
                <li><a href="#"><span>Блоги</span></a></li>
                <li><a href="#"><span>Люди</span></a></li>
            </ul>
        </div>
    </div>
    <div class="bottom_info">
        <div class="logo">
            <a class="cufon" href="#">Сообщество программистов</a>
            <a href="#">Symfony Framework</a>
        </div>
        <div class="clearer"></div>
        <p>Вчера глава Samsung опроверг слухи относительно планов покупки WebOS для 
            своей компании, резонно заметив, что операционных систем у них хватает Android, 
            Windows Phone 7 и собственная платформа Bada. Сегодня возникла новая инсинуация.  </p>
    </div>
    <p class="copy">&copy; {{'now'|date('Y')}} <a href="#">Symfony</a></p>
</div> 