<div class="footer">
    <div class="bottom_nav">
        <div class="block"> 
            <h3><a href="{{path('blog_index')}}">Блоги</a></h3>
            <ul>
                {% render "SfbyBlogBundle:Default:footerSubmenu" %}
            </ul>
        </div>
        <div class="block"> 
            <h3><a href="{{path('user_index')}}">Люди</a></h3>
        </div>
        <div class="block"> 
            <h3><a href="{{path('about')}}">О сайте</a></h3>
        </div>
    </div>
    <div class="bottom_info">
        <div class="logo">
            <a class="cufon" href="#">Сообщество программистов</a>
            <a href="#">Symfony Framework</a>
        </div>
        <div class="clearer"></div>
        <p>Вчера глава Samsung опроверг слухи относительно планов покупки WebOS для 
            своей компании, резонно заметив, что операционных систем у них хватает Android, 
            Windows Phone 7 и собственная платформа Bada. Сегодня возникла новая инсинуация.  </p>
    </div>
    <p class="copy">&copy; {{'now'|date('Y')}} <a href="#">Symfony</a></p>
</div> 