; Copy app/config/parameters.ini.dist to app/config/parameters.ini
; The parameters.ini file is ignored by git so that machine-specific settings like database passwords aren't committed. 
; New developers can quickly clone the project, copy this file to parameters.ini, customize it, and start developing.

[parameters]
    database_driver=   pdo_mysql
    database_host=     localhost
    database_port=     
    database_name=     symfony
    database_user=     root
    database_password= 

    mailer_transport=  smtp
    mailer_host=       localhost
    mailer_user=       
    mailer_password=   

    locale=            ru

    secret=            ThisTokenIsNotSoSecretChangeIt
