{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="articles">
  <h3>{{ 'resetting.request.title'|trans({}, 'FOSUserBundle') }}</h3>
  <p>&nbsp;</p>
  <div class="text_article no_line">
    <p>{{ 'resetting.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
  </div>
</div>
{% endblock %}
